.btnContact{
    background-color: #f9004d;
    color: white;
    border: none;
}

.btnContact:hover{
    background-color: #5d001e;
    border: none;
}

.containerContact.dark {
    background-color: black;
    color: white;

}

.containerContact.light {
    background-color: white;
    color: black;
}