a{
    color: inherit;
    text-decoration: none;
}


.icon{
    color: white;
    font-size: 25px;
}

.icon:hover{
    color: #f9004d !important;
}

.divFooter.dark {
  background-color: black;
}

.divFooter.light {
  background-color: white;
}




.divFooter.dark  {
  color: white;
}

.divFooter.light .icon {
  color: black;
}

